<html>
  <head>
    <script src="https://cfdhevan.s3.ap-southeast-1.amazonaws.com/vue.js"></script>
    <title>Bucket</title>
  </head>
  <style>
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }
  </style>
  <body>
    <div id="app" class="flex-container">
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`https://cfdhevan.s3.ap-southeast-1.amazonaws.com/product_${index}.jpg`"
        />
      </div>
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`https://cfdhevan.s3.ap-southeast-1.amazonaws.com/avatar_${index}.jpg`"
        />
      </div>
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`https://cfdhevan.s3.ap-southeast-1.amazonaws.com/cover_${index}.jpg`"
        />
      </div>
    </div>
  </body>
  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          message: "Hello Vue!",
        };
      },
    }).mount("#app");
  </script>
</html>
