<html>
  <head>
    <script src="/vue.js"></script>
    <title>Just Native</title>
  </head>
  <style>
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }
  </style>
  <body>
    <div id="app" class="flex-container">
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`/images/product_${index}.jpg`"
        />
      </div>
    </div>
    <div id="app" class="flex-container">
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`/images/avatar_${index}.jpg`"
        />
      </div>
    </div>
    <div id="app" class="flex-container">
      <div v-for="index in 24">
        <img
          width="200"
          height="200"
          :src="`/images/cover_${index}.jpg`"
        />
      </div>
    </div>
    
  </body>
  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          message: "Hello Vue!",
        };
      },
    }).mount("#app");
  </script>
</html>
